{
  "env": {
    "build": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "react"
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "ava": {
      "presets": [
        "env", "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}